.navbar {
  display: flex;
  flex-direction: row;
}

.navbar-item {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  color: inherit;
  text-decoration: inherit;
  outline: none;
}